

.logout-btn{
    background:#ef4444;
    color:white;
    border:none;
    padding:8px 18px;
    border-radius:6px;
    cursor:pointer;
    font-weight:600;
}

.logout-btn:hover{
    background:#dc2626;
}