/*==========================================================
*Footer Card*
==========================================================*/

.unit-footer {

    display: flex;

    justify-content: flex-end;

    align-items: center;

    padding: 10px 16px;

    margin-top: 8px;

    background: #ffffff;

    border: 1px solid #e5e7eb;

    border-radius: 12px;

    box-shadow:
        0 3px 10px
        rgba(0,0,0,.06);
}


/*==========================================================
*Tablet*
==========================================================*/

@media(max-width:992px) {

    .unit-footer {

        justify-content: center;
    }
}


/*==========================================================
*Mobile*
==========================================================*/

@media(max-width:768px) {

    .unit-footer {

        justify-content: center;

        padding: 10px;
    }
}